<div class="create-update-section row" id="mainContent">
    <div class="col-md-8">
        <div class="alert alert-success mbtm-20" id="successMsgSection" ng-if="createupdateCtrl.showSuccess" role="alert">
            <i class="ion-thumbsup"></i> <span>{{createupdateCtrl.successMsg}}</span>
        </div>
        <div class="alert alert-danger mbtm-20" id="errorMsgSection" ng-if="createupdateCtrl.showFailure" role="alert">
            <i class="ion-thumbsdown"></i> <span>{{createupdateCtrl.failureMsg}}</span>
        </div>
        <ng-form name="createupdateCtrl.formCreate" id="createUpdate">
            <div class="row">
                <div class="col-xs-5 col-md-3 form-label">
                    <label for="txtName">Name</label>
                </div>
                <div class="col-xs-7 col-md-9 form-input">
                    <input type="text" name="txtName" ng-class="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate.txtName.$invalid ? 'input-error' : ''" ng-model="createupdateCtrl.createData.name" id="txtName" placeholder="Project Name" ng-required="true">
                    <span class="errorfield ion-alert-circled" ng-if="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate.txtName.$invalid">
                    <span ng-show="createupdateCtrl.formCreate.txtName.$error.required">Project name is required</span>
                </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-md-3 form-label">
                    <label for="txtDesc">Description</label>
                </div>
                <div class="col-xs-7 col-md-9 form-input">
                    <input type="text" name="txtDesc" id="txtDesc"  ng-class="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate.txtDesc.$invalid ? 'input-error' : ''" ng-model="createupdateCtrl.createData.description" placeholder="Project description" ng-required="true">
                    <span class="errorfield ion-alert-circled" ng-if="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate.txtDesc.$invalid">
                    <span ng-show="createupdateCtrl.formCreate.txtDesc.$error.required">Project description is required</span>
                </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-md-3 form-label">
                    <label for="txtMaterials">Materials required</label>
                </div>
                <div class="col-xs-7 col-md-9 form-input">
                    <textarea rows="5" cols="30" name="txtMaterials" id="txtMaterials"  ng-class="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate.txtMaterials.$invalid ? 'input-error' : ''" ng-model="createupdateCtrl.createData.materialsRequired" placeholder="Ex: Material1,Material2,Material3" ng-required="true"></textarea>
                    <span class="errorfield ion-alert-circled" ng-if="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate.txtMaterials.$invalid">
                    <span ng-show="createupdateCtrl.formCreate.txtMaterials.$error.required">Materails required is required</span>
                </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-md-3 form-label">
                    <label for="txtProd_0">Procedure</label>
                </div>
                <div class="col-xs-7 col-md-9 form-input">
                    <div class="procedure-input-sec" ng-repeat="procedure in createupdateCtrl.createData.procedure track by $index">
                        <textarea rows="2" cols="5" name="txtProd_{{$index}}" id="txtProd_{{$index}}"  ng-class="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate['txtProd_' + $index].$invalid ? 'input-error' : ''" ng-model="createupdateCtrl.createData.procedure[$index].operation" placeholder="Procedure goes here" ng-required="true"></textarea>
                        <input type="file"  nv-file-select nv-file-over uploader="createupdateCtrl.imageUploader" data-index="{{$index}}" nv-accept="'image/*'" accept="image/*" multiple/>
                        <span class="text-info">Max. image size allowed: 1MB</span>
                        <a href="#" ng-click="createupdateCtrl.removeChoice($index);" name="ancRemove" ng-hide="$index<1" title="Remove"><i class="ion-ios-minus-outline"></i></a>
                        <span class="errorfield ion-alert-circled" ng-if="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate['txtProd_' + $index].$invalid">
                        <span ng-show="createupdateCtrl.formCreate['txtProd_' + $index].$error.required">Procedure is required</span>
                    </span>
                    </div>
                    <div class="procedure-link-sec">
                        <button type="button" class="btn btn-primary" ng-click="createupdateCtrl.addNewChoice();">Add</button>
                    </div>
                    <div ng-repeat="item in createupdateCtrl.imageUploader.queue" class="image-preview-section" ng-style="{'width':'calc('+100+'%'+'/'+createupdateCtrl.imageUploader.queue.length+')'}">
                        <strong>{{ item.file.name }}</strong>
                        <!-- Image preview -->
                        <!--auto height-->
                        <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                        <!--auto width-->
                        <div ng-show="createupdateCtrl.imageUploader.isHTML5" ng-thumb="{ file: item._file, width: 100, height: 100 }"></div>
                        <!--fixed width and height -->
                        <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                        <div ng-show="createupdateCtrl.imageUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-md-3 form-label">
                    <label for="photoGuideAvailable">Photo Guide Available</label>
                </div>
                <div class="col-xs-7 col-md-9 form-input">
                    <input type="checkbox" name="photoGuideAvailable" id="photoGuideAvailable" ng-model="createupdateCtrl.createData.photoGuideAvailable" data-on-text="Yes" data-off-text="No">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-md-3 form-label">
                    <label for="videoGuideAvailable">Video Guide Available</label>
                </div>
                <div class="col-xs-7 col-md-9 form-input">
                    <input type="checkbox" name="videoGuideAvailable" id="videoGuideAvailable" ng-model="createupdateCtrl.createData.videoGuideAvailable" data-on-text="Yes" data-off-text="No">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-md-3 form-label">
                    <label for="txtVideoUrl">Video URL</label>
                </div>
                <div class="col-xs-7 col-md-9 form-input">
                    <input type="text" name="txtVideoUrl" id="txtVideoUrl" ng-model="createupdateCtrl.createData.videoUrl"  ng-class="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate.txtVideoUrl.$invalid ? 'input-error' : ''" placeholder="Video URL" ng-required="true">
                    <span class="errorfield ion-alert-circled" ng-if="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate.txtVideoUrl.$invalid">
                    <span ng-show="createupdateCtrl.formCreate.txtVideoUrl.$error.required">Video URL is required</span>
                </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-md-3 form-label">
                    <label for="txtVideoId">Video Id</label>
                </div>
                <div class="col-xs-7 col-md-9 form-input">
                    <input type="text" name="txtVideoId" id="txtVideoId" ng-model="createupdateCtrl.createData.videoId"  ng-class="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate.txtVideoId.$invalid ? 'input-error' : ''" placeholder="Video ID" ng-required="true">
                    <span class="errorfield ion-alert-circled" ng-if="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate.txtVideoId.$invalid">
                    <span ng-show="createupdateCtrl.formCreate.txtVideoId.$error.required">Video ID is required</span>
                </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-md-3 form-label">
                    <label for="txtVideoId">Image Name</label>
                </div>
                <div class="col-xs-7 col-md-9 form-input">
                    <input type="text" name="txtthumbnailName" id="txtthumbnailName" ng-model="createupdateCtrl.createData.thumbnailName"  ng-class="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate.txtthumbnailName.$invalid ? 'input-error' : ''" placeholder="Image Name with extension" ng-required="true">
                    <span class="errorfield ion-alert-circled" ng-if="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate.txtthumbnailName.$invalid">
                    <span ng-show="createupdateCtrl.formCreate.txtthumbnailName.$error.required">Image name is required</span>
                </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-md-3 form-label">
                    <label for="isImageVertical">Is photo vertical</label>
                </div>
                <div class="col-xs-7 col-md-9 form-input">
                    <input type="checkbox" name="isImageVertical" id="isImageVertical" ng-model="createupdateCtrl.createData.isImageVertical" data-on-text="Yes" data-off-text="No">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-md-3 form-label">
                    <label for="txtTags">Tags</label>
                </div>
                <div class="col-xs-7 col-md-9 form-input">
                    <textarea rows="5" cols="30" name="txtTags" id="txtTags" ng-model="createupdateCtrl.createData.tags"  ng-class="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate.txtTags.$invalid ? 'input-error' : ''" placeholder="Ex:Tag1,Tag2,Tag3,Tag4" ng-required="true"></textarea>
                    <span class="errorfield ion-alert-circled" ng-if="createupdateCtrl.formCreate.$submitted && createupdateCtrl.formCreate.txtTags.$invalid">
                    <span ng-show="createupdateCtrl.formCreate.txtTags.$error.required">Tags is required</span>
                </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-md-3 form-label"></div>
                <div class="col-xs-9 col-md-9 form-input btn-group" role="group">
                    <button type="button" class="btn btn-secondary" ng-click="createupdateCtrl.cancelProject();">Cancel</button>
                    <button type="button" class="btn btn-success" ng-click="createupdateCtrl.createProject();">{{createupdateCtrl.buttonText}}</button>
                </div>
            </div>
        </ng-form>
    </div>
    <div class="col-md-4">
        <div class="file-upload-section">
            <p class="text-info">You can upload json file with the project details.</p>
            <input type="file" nv-file-select nv-file-over uploader="createupdateCtrl.uploader" placeholder="Select JSON File"/>
            <button type="button" class="btn btn-primary btn-sm" ng-click="createupdateCtrl.uploader.uploadAll()">Upload</button>
            <a href data-toggle="modal" data-target="#sampleJsonDataModal">Sample file valid data format</a>
            <div class="drop-zone" nv-file-over uploader="createupdateCtrl.uploader">
                Drop JSON File here
            </div>
            <div ng-repeat="item in createupdateCtrl.uploader.queue">
                <strong>{{ item.file.name }}</strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Loading <img src="src/images/loading.gif" alt=" section...." id="loadingModalLabel"/>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sampleJsonDataModal" tabindex="-1" role="dialog" aria-labelledby="sampleJsonDataModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="sampleJsonDataModalLabel">Sample JSON Data for file upload</h4>
            </div>
            <div class="modal-body">
                <div class="dummy-data text-primary">
                    {<br/>
                    "name":"project name",<br/>
                    "description":"project description",<br/>
                    "materialsRequired":[<br/>
                    "material1",<br/>
                    "material2",<br/>
                    "material3"<br/>
                    ],<br/>
                    "procedure":[<br/>
                    "procedure1",<br/>
                    "procedure2",<br/>
                    "procedure3"<br/>
                    ],<br/>
                    "photoGuideAvailable":false,<br/>
                    "videoGuideAvailable":true,<br/>
                    "videoUrl":"www.youtube.com/videoid",<br/>
                    "videoId":"videoid",<br/>
                    "thumbnailName":"imagename.jpg",<br/>
                    "isImageVertical":false,<br/>
                    "className":"",<br/>
                    "tags":[<br/>
                    "tag1",<br/>
                    "tag2",<br/>
                    "tag3",<br/>
                    "tag4"<br/>
                    ],<br/>
                    "urlName":"project-name",<br/>
                    "projectId":"",<br/>
                    "publishDate":""<br/>
                    }
                </div>
            </div>
        </div>
    </div>
</div>