<div class="dashboard-section">
    <h2 class="text-left" id="mainContent">Projects</h2>
    <div class="add-project text-right">
        <a ui-sref="create" href><i class="ion-plus-round"></i> Add project</a>
    </div>
    <div ng-show="apc.showprojectLoading" class="loading-projects">
        <img src="src/images/loading.gif" alt="Loading ...."/>
    </div>

    <div ng-hide="apc.showprojectLoading">
        <div ng-if="apc.projectList.length < 1">
            No project available to display. Please create one through add project.
        </div>
        <div ng-if="apc.projectList.length >= 1" ng-repeat="project in apc.projectList" class="proj-section">
            <div class="project">
                <div class="proj-image">
                    <img src="//diycraftsnme.com/src/images/project-images/{{project.thumbnailName}}" alt="{{project.name}} image"/>
                </div>
                <div class="proj-detail">
                    <div class="proj-name">{{project.name}}</div>
                    <div class="proj-desc">{{project.description}}</div>
                </div>
                <div class="proj-edit-link">
                    <a href ui-sref="update({pid:project.projectId})"><i class="ion-edit"></i> Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>