<div class="project-details">
    <div class="details-container" ng-if="detailsCtrl.projectDetails">
        <div class="row project-name">
            {{detailsCtrl.projectDetails.name}}
            <span class="supplements" ng-if="detailsCtrl.projectDetails.photoGuideAvailable || detailsCtrl.projectDetails.videoGuideAvailable">
                [
                <a ng-if="detailsCtrl.projectDetails.photoGuideAvailable" href="javascript:void(0);" ng-click="DiyCtrl.gotoElement('divPhotoSection');">Photos</a>
                <span ng-if="detailsCtrl.projectDetails.photoGuideAvailable && detailsCtrl.projectDetails.videoGuideAvailable"> , </span>
                <a ng-if="detailsCtrl.projectDetails.videoGuideAvailable" href="javascript:void(0);" ng-click="DiyCtrl.gotoElement('divVideoSection');">Video</a>
                ]
            </span>
        </div>
        <!--<div class="row">{{detailsCtrl.projectDetails.description}}</div>-->
        <div class="row sub-header">Materials Required</div>
        <div class="row">
            <ul>
                <li ng-repeat="material in detailsCtrl.projectDetails.materialsRequired track by $index">
                    {{material}}
                </li>
            </ul>
        </div>
        <div class="row sub-header">Method</div>
        <div class="row">
            <ol>
                <li ng-repeat="step in detailsCtrl.projectDetails.procedure track by $index">{{step}}</li>
            </ol>
        </div>
        <div class="row illustration-holder" ng-if="detailsCtrl.projectDetails.photoGuideAvailable" id="divPhotoSection">

        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 share-option">
                <span class="share-text">Share project :</span>
                <a href="javascript:void(0);" class="fb-share-button" ng-click="detailsCtrl.shareProject('facebook');"><span class="facebook"><i class="fa fa-facebook-official"></i></span></a>
                <a href="https://www.pinterest.com/pin/create/button/">
                    <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
                </a>
                <a class="twitter-share-button"
                   href="https://twitter.com/share"
                   data-url="{{detailsCtrl.projectDetails.videoUrl}}"
                   data-text="{{detailsCtrl.projectDetails.name}} - {{detailsCtrl.projectDetails.description}}" target="_blank">
                    <i class="fa fa-twitter-square"></i>
                </a>
                <!-- Place this tag where you want the share button to render. -->
                <div class="g-plus" data-action="share" data-annotation="none" data-href="{{detailsCtrl.projectDetails.videoUrl}}"></div>
            </div>
        </div>
        <div class="row video-holder" ng-if="detailsCtrl.projectDetails.videoGuideAvailable && detailsCtrl.projectDetails.videoUrl">
            <div class="sub-header">Video</div>
            <div class="embed-responsive embed-responsive-16by9" id="divVideoSection">
                <youtube-video class="embed-responsive-item" video-id="detailsCtrl.videoId" player="looper.player"></youtube-video>
            </div>
        </div>
    </div>
</div>

<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>