<div class="project-listing">
    <div ng-show="projectCtrl.showNoResult" tabindex="0" class="noresult">No matching results found.</div>
    <div class="row home-project-container">
        <div class="ml25">
            <div class="col-md-3 col-xs-12 col-sm-12 home-projects project-tile" ng-repeat="project in projectCtrl.projects">
                <div>
                    <a ui-sref="details({id:'{{project.id}}', name:'{{project.urlName}}'})">
                        <h4>{{project.name}}</h4>
                        <img ng-class="project.className" ng-src="{{projectCtrl.thumbnailBasePath + project.thumbnailName}}"/>
                        <div class="project-desc">{{project.description}}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>