.project-details{
  padding: 67px 35px 40px 35px;
  .share-text{
    text-align: right;
    font-weight: 600;
    font-size: 1.1em;
    margin-right: 15px;
    color: #333;
  }
  .share-option{
    a{
      font-size: 2em;
    }
  }
  .details-container{
    background-color: #fff;
    padding: 10px;
    >.row{
      @extend .plr35;
    }
    .project-name{
      font-size: 2.5em;
      font-weight: 600;
      -webkit-font-smoothing: antialiased;
      font-family: fantasy;
      .supplements{
        font-size: 0.6em;
      }
    }
    .sub-header{
      font-size: 1.5em;
      font-weight: 500;
      margin: 15px 0;
      -webkit-font-smoothing: antialiased;
    }
  }
}