.diy-header{
    margin: 0!important;
    width: 100%;
    background-size: cover;
    font-size: 0.85em;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    background-color: rgb(196, 29, 79);
    box-shadow: 0px 0px 5px 1px #fff;
    z-index: 2;
    position: fixed;
    .home-icon{
      font-size: 3.5em;
      padding-left: 50px;
      margin-top: -10px;
      >a, a:hover, a:focus, a:visited, a:active{
          color: #fff;
        text-decoration: none;
      }
       span.diy-icon{
        transform-style: preserve-3d;
        -ms-transform: rotate(45deg);
        -ms-transform-origin: 20% 40%;
        -webkit-transform: rotate(45deg);
        -webkit-transform-origin: 20% 40%;
        transform: rotate(108deg);
        transform-origin: 25% 35%;
      }
      .icon-text{
        font-size: 1.3em;
        font-weight: 600;
      }
    }
    .nav-links{
      text-align: right;
      padding-top: 25px;
      float:right;
      >span{
        margin: 0 10px;
        color:#fff;
      }
      > a, a:hover, a:focus, a:-webkit-any-link{
        color: #fff;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    .search-container{
      padding-top: 10%;
      text-align: center;
      .site-search{
        position: absolute;
        padding-top: 16.5%;
        font-size: 1.8em;
        color: #fff;
        padding-left: 12.5%;
        opacity: 0.7;
        font-weight: 100;
      }
      .input-search{
        height: 50px;
        font-size: 1.5em;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        background-color: rgba(255,255,255,0.2);
        padding-right: 10px;
      }
    }
}

button.btn-primary {
  background-color: rgba(179, 25, 71, 0.8) !important;
  border-color: #b31947 !important;
}

#subscribeModal{
  input{
    height: 30px;
    width:100%;
    padding:5px;
  }
  .modal-body{
    padding: 15px 15px 30px;
    p{
      margin-bottom: 20px;
    }
  }
  button{
    width: 30%;
  }
  .subscribeLabel{
    text-align: right;
    margin-bottom:30px;
    label{
      font-weight: 400;
    }
  }
  .subscribeInput{
    margin-bottom:30px;
  }
}

.homePage.sticky-header{
  .diy-header{
    background-color: #c41d4f !important;
  }
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
