.diy-home{
  padding: 0;
  h3{
    text-align: center;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-family: serif;
    color: #fff;
    font-size: 3em;
    &.site-desc-header{
      color: black;
    }
  }
  .row{
    padding-left: 35px;
    padding-right: 35px;
  }
  .home-banner{
    margin: 0!important;
    background: #ffffff url('../images/color-papers.jpg') no-repeat;
    height: 300px;
    width: 100%;
    background-size: cover;
    font-size: 0.85em;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    .home-icon{
      font-size: 3.5em;
      padding-left: 50px;
      color: #fff;
      > span.diy-icon{
        transform-style: preserve-3d;
        -ms-transform: rotate(45deg);
        -ms-transform-origin: 20% 40%;
        -webkit-transform: rotate(45deg);
        -webkit-transform-origin: 20% 40%;
        transform: rotate(108deg);
        transform-origin: 25% 35%;
      }
      .icon-text{
        font-size: 1.3em;
        font-weight: 600;
      }
    }
    .nav-links{
      text-align: right;
      padding-top: 10px;
      >span{
        margin: 0 10px;
      }
      > a, a:hover, a:focus, a:-webkit-any-link{
        color: #fff;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    .search-container{
      padding-top: 10%;
      text-align: center;
      .site-search{
        position: absolute;
        padding-top: 16.5%;
        font-size: 1.8em;
        color: #fff;
        padding-left: 12.5%;
        opacity: 0.7;
        font-weight: 100;
      }
      .input-search{
        height: 50px;
        font-size: 1.5em;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        background-color: rgba(255,255,255,0.2);
        padding-right: 10px;
      }
    }
  }
  .site-description{
    @extend .plr35;
    background-color: #fff;
    padding-bottom: 30px;
  }
  .tiles-container{
    margin-bottom: 30px;
    margin-top: 15px;
    &.projects-list{
      margin-top: 4em;
    }
  }
  .explore-more{
    margin-top: 40px;
    text-align: center;
  }
}

.homePage{
  .diy-header{
    background: rgba(51, 51, 51, 0.3) !important;
    box-shadow: none !important;
  }
}