html, body{
  margin: 0;
  background-color: rgb(198, 28, 79);
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
}
.mbtm-20{
  margin-bottom: 20px;
}
#google_translate_element{
  z-index: 99;
  position: fixed;
  bottom: 0;
  right: 0;
}
html.tour-guide-on,html.tour-guide-on body{
  overflow-x: visible;
}
.tour-tip .tour-content-wrapper {
  padding: 2.125em 1.5em 2.5em !important;
}
.tour-tip button, .tour-tip .button {
  background-color: #c3135c !important;
}
.tour-tip{
  z-index: 99999;
  background: #fff;
  border: 1px solid #333;
  color: #333;
}
.tour-tip .tour-close-tip{
  font-size: 22px;
  color: #333 !important;
  &:hover,&:focus{
    color:#999 !important;
  }
}
.tour-tip .tour-arrow.tt-bottom{
  border-color: transparent transparent #fff !important;
}
.tour-tip p {
  color: #333;
}
.aligncenter{
  text-align: center;
}
.mrt-10{
  margin-right: 10px;
}
.plr35{
  padding:0 35px;
}
.ml10{
  margin-left: 10px;
}
.ml25{
  margin-left: 25px;
}
.aside.left{
  text-align: left;
}
.aside-header{
  background-color: #c6165e !important;
  min-height: 10px !important;
  padding: 2px 10px !important;
  a{
    color:#fff;
  }
}
.aside-backdrop{
  background-color: rgba(0,0,0,0.5) !important;
}
.aside-nav-content{
  padding:0;
  li{
    list-style: none;
    padding-bottom: 10px;
    a{
      color:#666 !important;
      i{
        margin-right:5px;
      }
    }
  }
}
.hamburger-menu{
  button{
    color: #fff;
    background:none;
    border: none;
    font-size: 28px;
    margin-right: 15px;
  }
  text-align: right;
}
.new-add-tile-container, .home-project-container{
  display: flex;
  margin-top: 20px;
  .new-add-tile, .home-projects{
    height: 22em;
    width: 20em;
    border: 1px inset rgba(0, 0, 0, 0.12);
    margin-right: 21px;
    box-shadow: 5px 6px 50px rgba(136, 136, 136, 0.39);
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    img{
      width: 100%;
      height: 175px;
      &.vertical-image{
        width: auto;
        text-align: center;
        margin: 0 20%;
      }
    }
    .project-desc{
      margin-top: 10px;
      color: rgba(0, 0, 0, 0.9);
      font-weight: 200;
    }
  }
}
.home-project-container{
  flex-wrap: wrap;
  min-height: 100vh;
}
.project-tile{
  h4{
    color: rgba(0, 0, 0, 1) !important;
    -webkit-font-smoothing: antialiased;
    font-family: fantasy;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
.site-footer{
  background-color: #fff;
  .socialize{
    text-align: center;
    font-size: 4em;
    margin-top: 50px;
    >a{
      color: rgba(0, 0, 0, 0.87) !important;
    }
    >span{
      margin: 0 15px;
    }
    .facebook{
      color: rgb(59, 89, 152);
    }
    .fa-twitter{
      color: #1da1f2;
    }
    .google-plus{
      color: #dd4b39;
    }
    .twitter{
      color: #55acee;
    }
    .youtube{
      color: #bb0000;
    }
    .pinterest{
      color: #cb2027;
    }
    .fa-google-plus{
      color: #bb0000;
    }
  }
  .footer-notes{
    text-align: center;
    color: rgba(0,0,0,0.4);
    -webkit-font-smoothing: antialiased;
    margin-top: 20px;
  }
}

#myFBModal,#myPinterestModal{
  .modal-dialog {
    background-color: #fff;
  }
}

.ada-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.loading-area{
  display: none;
}
.loading{
  .loading-area{
    display: block;
  }
}

.loading-section{
  position: absolute;
  top:50%;
  left:50%;
  z-index: 999999;
  color:#fff;
  text-align: center;
}

.loading-background{
  background: rgba(0,0,0,0.5);
  z-index: 10000;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}

.alert-success {
  color: #fff !important;
  background-color: #2c7b31;
  font-size: 1.2em;
  border-color: #3c763d;
  -webkit-font-smoothing: antialiased;
  width: 37em;
  margin: auto;
  text-align: center;
  .glyphicon{
    font-size: 1.5em;
    vertical-align: bottom;
  }
}

.alert-danger{
  width: 54em;
  margin: auto;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: #b91b1b;
  border-color: #b91b1b;
  color: #fff !important;
  line-height: 1px;
  .ionicons{
    font-size: 3.5em;
    vertical-align: middle;
  }
  span{
    font-weight: 500;
  }
}