@media only screen and (max-width: 992px) {
  .diy-header{
    .nav-links{
      text-align: left;
      padding-left: 10%;
      padding-top: 0px;
      padding-bottom: 15px;
    }
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  .diy-header{
    .nav-links{
      text-align: center;
    }
  }
  .searchHeaderContainer{
    top: 10% !important;
    right: 10px !important;
    left:auto !important;
    input{
      width:95vw !important;
    }
  }
  .project-listing {
    padding-top: 125px !important;
  }
  .searchContainer input.searchInput,.searchContainer .search-results{
    width: 100% !important;
  }
  .searchContainer{
    left:0 !important;
  }
}

@media only screen
and (min-device-width: 480px) {
  .hide-for-small-only{
    display: inherit !important;
  }
  .show-for-small-only{
    display: none !important;
  }
  .projectPage {
    .home-icon {
      span {
        font-size: 24px !important;
      }
    }
  }
}

@media only screen
and (max-device-width: 480px) {
  .hide-for-small-only{
    display: none !important;
  }
  .show-for-small-only{
    display: inherit !important;
  }
  .show-for-small-only.hamburger-menu{
    display: inline-block !important;
  }
  .site-footer .socialize > a{
    font-size: 45px;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  h2{
    font-size: 18px !important;
    margin-top: 0 !important;
  }
  .contact-us-section ng-form{
    height: 480px !important;
  }
  .home-icon {
    font-size: 30px !important;
    margin-top: 5px !important;
    padding-left: 10px !important;
    padding-right: 0;
  }
  .icon-text{
    font-size: 30x !important;
  }
  .diy-header .nav-links > span {
    margin: 5px 0 0;
    font-size: 10px;
    float: left;
    width: 33%;
    color:#fff;
  }
  .contact-us-section{
    .contact-input{
      input,textarea,button{
        width:100% !important;
      }
    }
  }
}