.project-listing{
  padding-top: 67px;
  .search-container{
    text-align: center;
    .site-search{
      position: absolute;
      padding-top: 6.5%;
      font-size: 1.8em;
      color: #fff;
      padding-left: 12.5%;
      opacity: 0.7;
      font-weight: 100;
    }
    .input-search{
      height: 50px;
      font-size: 1.5em;
      border: 1px solid rgba(255, 255, 255, 0.5);
      color: #fff;
      background-color: rgba(255,255,255,0.2);
      padding-right: 10px;
    }
  }
}

.projectPage{
  .searchHeaderContainer{
    display: block;
    top: 3%;
    left: 28%;
    z-index: 2;
  }
  .diy-header{
    height:67px;
  }
  .noresult{
    font-size: 1.4em;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
}