.contact-us-section{
  padding-top: 67px;
  padding-left: 45px;
  height: 800px;
  color:#fff;
  .contact-label{
    text-align: right;
  }
  div[role="alert"]{
    //text-align: center;
    margin-bottom: 20px;
  }
  ng-form{
    background: #fff;
    height: 635px;
    display: block;
    width: auto;
    color: #333;
    padding: 40px 0;
    border-radius: 5px;
    margin: 0 40px 0 0;
  }
  .contact-input{
    input{
      width: 60%;
      height: 30px;
      padding: 5px;
      color: #333;
    }
    textarea{
      width: 60%;
      height:100px;
      padding: 5px;
      color: #333;
      border-color: rgba(170, 170, 170, 0.6);
    }
    button.btn{
      width: 25%;
      padding: 8px;
      font-size: 1.2em;
    }
    button.btn-primary{
      background-color: rgba(179,25,71,0.8) !important;
      border-color: #b31947 !important;
    }
  }
  .mbtm-20{
    margin-bottom: 20px;
  }
  .mbtm-40{
    margin-bottom: 40px;
  }
}

div[role="alert"]{
  color:red;
  width: auto;
}