 canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
  }
  .image-preview-section{
    float:left;
    min-width: 20%;
    word-wrap: break-word;
    font-size: 11px;
    margin: 5px 0;
  }
  .text-info{
    font-size: 12px;
  }
  .main-content{
    //padding: 40px 60px;
    .dashboard-section{
      height: 500px;
      overflow-y: scroll;
      color: #333;
      margin: 65px 20px 40px;
      background-color: #fff;
      padding: 20px;
      h1{
        color: #fff;
        font-size: 1.1em;
        font-family: Arial;
      }
      .loading-projects{
        text-align: center;
      }
      .proj-section{
        .project{
          min-height: 130px;
          margin: 10px;
          padding: 10px;
          border: 1px solid #999;
          border-radius: 5px;
          .proj-image{
            float: left;
            width: 10%;
            img{
              height: 100px;
              width: 100px;
              background-color: #999;
              color:#fff;
              border:1px solid #666;
            }
          }
          .proj-detail{
            float:left;
            width: 80%;
            .proj-name{
              font-size:1.1em;
              font-weight: 500;
            }
            .proj-desc{
              font-size: 1em;
              color:#666;
            }
          }
          .proj-edit-link{
            float:right;
            width: 10%;
          }
        }
      }
    }

    .create-update-section{
      width: 100%;
      min-height: 500px;
      margin: 65px 20px 40px;
      background-color: #fff;
      padding: 20px;
      h1{
        color: #fff;
        font-size: 1.1em;
        font-family: Arial;
      }
      .file-upload-section{
        input{
          width: 225px;
        }
        a{
          font-size: 11px;
        }
        .drop-zone{
          width: 200px;
          height: 100px;
          border: 1px dashed #999;
          background-color: #ddd;
          text-align: center;
          font-size: 12px;
          margin-top: 10px;
        }
      }
      ng-form{
        .errorfield{
          color: red;
          font-size: 11px;
        }
        .input-error{
          border: 1px solid red;
        }
        .row{
          padding-bottom: 20px;
          .form-label{
            text-align: right;
            text-transform: uppercase;
          }
          .form-input{
            input[type="text"],textarea{
              width: 60%;
              padding: 10px;
              @media only screen
              and (max-device-width: 736px){
                width: 100%;
              }
            }
            input[type="text"]{
              height: 35px;
            }
          }
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #999;
          font-style: italic;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: #999;
          font-style: italic;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: #999;
          font-style: italic;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: #999;
          font-style: italic;
        }
        .procedure-input-sec{
          input{
            margin-bottom: 15px;
          }
          a{
            font-size: 1.4em;
            vertical-align: middle;
            color: #c9302c;
            &[name="ancRemove"]{
              position: absolute;
              right: 0;
            }
          }
          input[type="file"]{
            width: 250px;
            vertical-align: top;
          }
        }
        .procedure-link-sec{
          left: 51%;
          position: relative;
          a{
            font-size: 1.4em;
            color: #5cb85c;
          }
        }
      }
    }
  }