.searchContainer{
  position: relative;
  top: 50%;
  left: 25%;
  input.searchInput{
    width: 50%;
    height: 40px;
    padding: 10px;
  }
  .search-results{
    background:#fff;
    border:2px solid #000;
    z-index: 9999;
    box-shadow: #0e0e0e;
    width:50%;
    padding:10px 0;
    .no-results{
      padding:10px;
      font-size: 1.1em;
    }
    .search-output{
      max-height: 300px;
      overflow-y: scroll;
    }
    a{
      color:#333;
      border-bottom: 1px dashed;
      font-size: 1.1em;
      &.allprojects{
        border:none;
      }
      &:hover,&:focus{
        background:#000;
        color:#fff;
        text-decoration: none;
      }
      display: block;
      padding: 10px;
      .projectname{
        font-weight: 600;
      }
      .projectdesc{
        opacity: 0.8;
        padding-left:10px;
      }
    }
  }
}

.searchHeaderContainer{
  position: absolute;
  top: 24%;
  left: 30%;
  display: none;
  input{
    width: 40vw;
    height: 35px;
    padding: 10px;
    font-size: 1em;
  }
}
