.contact-us-section {
  padding-top: 67px;
  padding-left: 45px;
  height: 800px;
  color: #fff; }
  .contact-us-section .contact-label {
    text-align: right; }
  .contact-us-section div[role="alert"] {
    margin-bottom: 20px; }
  .contact-us-section ng-form {
    background: #fff;
    height: 635px;
    display: block;
    width: auto;
    color: #333;
    padding: 40px 0;
    border-radius: 5px;
    margin: 0 40px 0 0; }
  .contact-us-section .contact-input input {
    width: 60%;
    height: 30px;
    padding: 5px;
    color: #333; }
  .contact-us-section .contact-input textarea {
    width: 60%;
    height: 100px;
    padding: 5px;
    color: #333;
    border-color: rgba(170, 170, 170, 0.6); }
  .contact-us-section .contact-input button.btn {
    width: 25%;
    padding: 8px;
    font-size: 1.2em; }
  .contact-us-section .contact-input button.btn-primary {
    background-color: rgba(179, 25, 71, 0.8) !important;
    border-color: #b31947 !important; }
  .contact-us-section .mbtm-20 {
    margin-bottom: 20px; }
  .contact-us-section .mbtm-40 {
    margin-bottom: 40px; }

div[role="alert"] {
  color: red;
  width: auto; }

html, body {
  margin: 0;
  background-color: #c61c4f;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-x: hidden; }

html.tour-guide-on, html.tour-guide-on body {
  overflow-x: visible; }

.tour-tip .tour-content-wrapper {
  padding: 2.125em 1.5em 2.5em !important; }

.tour-tip button, .tour-tip .button {
  background-color: #c3135c !important; }

.tour-tip {
  z-index: 99999;
  background: #fff;
  border: 1px solid #333;
  color: #333; }

.tour-tip .tour-close-tip {
  font-size: 22px;
  color: #333 !important; }
  .tour-tip .tour-close-tip:hover, .tour-tip .tour-close-tip:focus {
    color: #999 !important; }

.tour-tip p {
  color: #333; }

.aligncenter {
  text-align: center; }

.mrt-10 {
  margin-right: 10px; }

.plr35, .diy-home .site-description, .project-details .details-container > .row {
  padding: 0 35px; }

.ml10 {
  margin-left: 10px; }

.ml25 {
  margin-left: 25px; }

.aside.left {
  text-align: left; }

.aside-header {
  background-color: #c6165e !important;
  min-height: 10px !important;
  padding: 2px 10px !important; }
  .aside-header a {
    color: #fff; }

.aside-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important; }

.aside-nav-content {
  padding: 0; }
  .aside-nav-content li {
    list-style: none;
    padding-bottom: 10px; }
    .aside-nav-content li a {
      color: #666 !important; }
      .aside-nav-content li a i {
        margin-right: 5px; }

.hamburger-menu {
  text-align: right; }
  .hamburger-menu button {
    color: #fff;
    background: none;
    border: none;
    font-size: 28px;
    margin-right: 15px; }

.new-add-tile-container, .home-project-container {
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px; }
  .new-add-tile-container .new-add-tile, .new-add-tile-container .home-projects, .home-project-container .new-add-tile, .home-project-container .home-projects {
    height: 22em;
    width: 20em;
    border: 1px inset rgba(0, 0, 0, 0.12);
    margin-right: 21px;
    box-shadow: 5px 6px 50px rgba(136, 136, 136, 0.39);
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px; }
    .new-add-tile-container .new-add-tile img, .new-add-tile-container .home-projects img, .home-project-container .new-add-tile img, .home-project-container .home-projects img {
      width: 100%;
      height: 175px; }
      .new-add-tile-container .new-add-tile img.vertical-image, .new-add-tile-container .home-projects img.vertical-image, .home-project-container .new-add-tile img.vertical-image, .home-project-container .home-projects img.vertical-image {
        width: auto;
        text-align: center;
        margin: 0 20%; }
    .new-add-tile-container .new-add-tile .project-desc, .new-add-tile-container .home-projects .project-desc, .home-project-container .new-add-tile .project-desc, .home-project-container .home-projects .project-desc {
      margin-top: 10px;
      color: rgba(0, 0, 0, 0.9);
      font-weight: 200; }

.home-project-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh; }

.project-tile h4 {
  color: black !important;
  -webkit-font-smoothing: antialiased;
  font-family: fantasy;
  font-weight: 600;
  letter-spacing: 1px; }

.site-footer {
  background-color: #fff; }
  .site-footer .socialize {
    text-align: center;
    font-size: 4em;
    margin-top: 50px; }
    .site-footer .socialize > a {
      color: rgba(0, 0, 0, 0.87) !important; }
    .site-footer .socialize > span {
      margin: 0 15px; }
    .site-footer .socialize .facebook {
      color: #3b5998; }
    .site-footer .socialize .fa-twitter {
      color: #1da1f2; }
    .site-footer .socialize .google-plus {
      color: #dd4b39; }
    .site-footer .socialize .twitter {
      color: #55acee; }
    .site-footer .socialize .youtube {
      color: #bb0000; }
    .site-footer .socialize .pinterest {
      color: #cb2027; }
    .site-footer .socialize .fa-google-plus {
      color: #bb0000; }
  .site-footer .footer-notes {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    -webkit-font-smoothing: antialiased;
    margin-top: 20px; }

#myFBModal .modal-dialog, #myPinterestModal .modal-dialog {
  background-color: #fff; }

.ada-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.loading-area {
  display: none; }

.loading .loading-area {
  display: block; }

.loading-section {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999999;
  color: #fff;
  text-align: center; }

.loading-background {
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.alert-success {
  color: #fff !important;
  background-color: #2c7b31;
  font-size: 1.2em;
  border-color: #3c763d;
  -webkit-font-smoothing: antialiased;
  width: 37em;
  margin: auto;
  text-align: center; }
  .alert-success .glyphicon {
    font-size: 1.5em;
    vertical-align: bottom; }

.alert-danger {
  width: 54em;
  margin: auto;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: #b91b1b;
  border-color: #b91b1b;
  color: #fff !important;
  line-height: 1px; }
  .alert-danger .ionicons {
    font-size: 3.5em;
    vertical-align: middle; }
  .alert-danger span {
    font-weight: 500; }

@media only screen and (max-width: 992px) {
  .diy-header .nav-links {
    text-align: left;
    padding-left: 10%;
    padding-top: 0px;
    padding-bottom: 15px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .diy-header .nav-links {
    text-align: center; }
  .searchHeaderContainer {
    top: 10% !important;
    right: 10px !important;
    left: auto !important; }
    .searchHeaderContainer input {
      width: 95vw !important; }
  .project-listing {
    padding-top: 125px !important; }
  .searchContainer input.searchInput, .searchContainer .search-results {
    width: 100% !important; }
  .searchContainer {
    left: 0 !important; } }

@media only screen and (min-device-width: 480px) {
  .hide-for-small-only {
    display: inherit !important; }
  .show-for-small-only {
    display: none !important; }
  .projectPage .home-icon span {
    font-size: 24px !important; } }

@media only screen and (max-device-width: 480px) {
  .hide-for-small-only {
    display: none !important; }
  .show-for-small-only {
    display: inherit !important; }
  .show-for-small-only.hamburger-menu {
    display: inline-block !important; }
  .site-footer .socialize > a {
    font-size: 45px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h2 {
    font-size: 18px !important;
    margin-top: 0 !important; }
  .contact-us-section ng-form {
    height: 480px !important; }
  .home-icon {
    font-size: 30px !important;
    margin-top: 5px !important;
    padding-left: 10px !important;
    padding-right: 0; }
  .icon-text {
    font-size: 30x !important; }
  .diy-header .nav-links > span {
    margin: 5px 0 0;
    font-size: 10px;
    float: left;
    width: 33%;
    color: #fff; }
  .contact-us-section .contact-input input, .contact-us-section .contact-input textarea, .contact-us-section .contact-input button {
    width: 100% !important; } }

.diy-header {
  margin: 0 !important;
  width: 100%;
  background-size: cover;
  font-size: 0.85em;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  background-color: #c41d4f;
  box-shadow: 0px 0px 5px 1px #fff;
  z-index: 2;
  position: fixed; }
  .diy-header .home-icon {
    font-size: 3.5em;
    padding-left: 50px;
    margin-top: -10px; }
    .diy-header .home-icon > a, .diy-header .home-icon a:hover, .diy-header .home-icon a:focus, .diy-header .home-icon a:visited, .diy-header .home-icon a:active {
      color: #fff;
      text-decoration: none; }
    .diy-header .home-icon span.diy-icon {
      transform-style: preserve-3d;
      -ms-transform: rotate(45deg);
      -ms-transform-origin: 20% 40%;
      -webkit-transform: rotate(45deg);
      -webkit-transform-origin: 20% 40%;
      transform: rotate(108deg);
      transform-origin: 25% 35%; }
    .diy-header .home-icon .icon-text {
      font-size: 1.3em;
      font-weight: 600; }
  .diy-header .nav-links {
    text-align: right;
    padding-top: 25px;
    float: right; }
    .diy-header .nav-links > span {
      margin: 0 10px;
      color: #fff; }
    .diy-header .nav-links > a, .diy-header .nav-links a:hover, .diy-header .nav-links a:focus, .diy-header .nav-links a:-webkit-any-link {
      color: #fff;
      text-decoration: none; }
    .diy-header .nav-links a:hover {
      text-decoration: underline; }
  .diy-header .search-container {
    padding-top: 10%;
    text-align: center; }
    .diy-header .search-container .site-search {
      position: absolute;
      padding-top: 16.5%;
      font-size: 1.8em;
      color: #fff;
      padding-left: 12.5%;
      opacity: 0.7;
      font-weight: 100; }
    .diy-header .search-container .input-search {
      height: 50px;
      font-size: 1.5em;
      border: 1px solid rgba(255, 255, 255, 0.5);
      color: #fff;
      background-color: rgba(255, 255, 255, 0.2);
      padding-right: 10px; }

button.btn-primary {
  background-color: rgba(179, 25, 71, 0.8) !important;
  border-color: #b31947 !important; }

#subscribeModal input {
  height: 30px;
  width: 100%;
  padding: 5px; }

#subscribeModal .modal-body {
  padding: 15px 15px 30px; }
  #subscribeModal .modal-body p {
    margin-bottom: 20px; }

#subscribeModal button {
  width: 30%; }

#subscribeModal .subscribeLabel {
  text-align: right;
  margin-bottom: 30px; }
  #subscribeModal .subscribeLabel label {
    font-weight: 400; }

#subscribeModal .subscribeInput {
  margin-bottom: 30px; }

.homePage.sticky-header .diy-header {
  background-color: #c41d4f !important; }

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); }

.diy-home {
  padding: 0; }
  .diy-home h3 {
    text-align: center;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-family: serif;
    color: #fff;
    font-size: 3em; }
    .diy-home h3.site-desc-header {
      color: black; }
  .diy-home .row {
    padding-left: 35px;
    padding-right: 35px; }
  .diy-home .home-banner {
    margin: 0 !important;
    background: #ffffff url("../images/color-papers.jpg") no-repeat;
    height: 300px;
    width: 100%;
    background-size: cover;
    font-size: 0.85em;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px; }
    .diy-home .home-banner .home-icon {
      font-size: 3.5em;
      padding-left: 50px;
      color: #fff; }
      .diy-home .home-banner .home-icon > span.diy-icon {
        transform-style: preserve-3d;
        -ms-transform: rotate(45deg);
        -ms-transform-origin: 20% 40%;
        -webkit-transform: rotate(45deg);
        -webkit-transform-origin: 20% 40%;
        transform: rotate(108deg);
        transform-origin: 25% 35%; }
      .diy-home .home-banner .home-icon .icon-text {
        font-size: 1.3em;
        font-weight: 600; }
    .diy-home .home-banner .nav-links {
      text-align: right;
      padding-top: 10px; }
      .diy-home .home-banner .nav-links > span {
        margin: 0 10px; }
      .diy-home .home-banner .nav-links > a, .diy-home .home-banner .nav-links a:hover, .diy-home .home-banner .nav-links a:focus, .diy-home .home-banner .nav-links a:-webkit-any-link {
        color: #fff;
        text-decoration: none; }
      .diy-home .home-banner .nav-links a:hover {
        text-decoration: underline; }
    .diy-home .home-banner .search-container {
      padding-top: 10%;
      text-align: center; }
      .diy-home .home-banner .search-container .site-search {
        position: absolute;
        padding-top: 16.5%;
        font-size: 1.8em;
        color: #fff;
        padding-left: 12.5%;
        opacity: 0.7;
        font-weight: 100; }
      .diy-home .home-banner .search-container .input-search {
        height: 50px;
        font-size: 1.5em;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        background-color: rgba(255, 255, 255, 0.2);
        padding-right: 10px; }
  .diy-home .site-description {
    background-color: #fff;
    padding-bottom: 30px; }
  .diy-home .tiles-container {
    margin-bottom: 30px;
    margin-top: 15px; }
    .diy-home .tiles-container.projects-list {
      margin-top: 4em; }
  .diy-home .explore-more {
    margin-top: 40px;
    text-align: center; }

.homePage .diy-header {
  background: rgba(51, 51, 51, 0.3) !important;
  box-shadow: none !important; }

.project-listing {
  padding-top: 67px; }
  .project-listing .search-container {
    text-align: center; }
    .project-listing .search-container .site-search {
      position: absolute;
      padding-top: 6.5%;
      font-size: 1.8em;
      color: #fff;
      padding-left: 12.5%;
      opacity: 0.7;
      font-weight: 100; }
    .project-listing .search-container .input-search {
      height: 50px;
      font-size: 1.5em;
      border: 1px solid rgba(255, 255, 255, 0.5);
      color: #fff;
      background-color: rgba(255, 255, 255, 0.2);
      padding-right: 10px; }

.projectPage .searchHeaderContainer {
  display: block;
  top: 3%;
  left: 28%;
  z-index: 2; }

.projectPage .diy-header {
  height: 67px; }

.projectPage .noresult {
  font-size: 1.4em;
  color: #fff;
  padding: 20px;
  text-align: center; }

.project-details {
  padding: 67px 35px 40px 35px; }
  .project-details .share-text {
    text-align: right;
    font-weight: 600;
    font-size: 1.1em;
    margin-right: 15px;
    color: #333; }
  .project-details .share-option a {
    font-size: 2em; }
  .project-details .details-container {
    background-color: #fff;
    padding: 10px; }
    .project-details .details-container .project-name {
      font-size: 2.5em;
      font-weight: 600;
      -webkit-font-smoothing: antialiased;
      font-family: fantasy; }
      .project-details .details-container .project-name .supplements {
        font-size: 0.6em; }
    .project-details .details-container .sub-header {
      font-size: 1.5em;
      font-weight: 500;
      margin: 15px 0;
      -webkit-font-smoothing: antialiased; }

.searchContainer {
  position: relative;
  top: 50%;
  left: 25%; }
  .searchContainer input.searchInput {
    width: 50%;
    height: 40px;
    padding: 10px; }
  .searchContainer .search-results {
    background: #fff;
    border: 2px solid #000;
    z-index: 9999;
    box-shadow: #0e0e0e;
    width: 50%;
    padding: 10px 0; }
    .searchContainer .search-results .no-results {
      padding: 10px;
      font-size: 1.1em; }
    .searchContainer .search-results .search-output {
      max-height: 300px;
      overflow-y: scroll; }
    .searchContainer .search-results a {
      color: #333;
      border-bottom: 1px dashed;
      font-size: 1.1em;
      display: block;
      padding: 10px; }
      .searchContainer .search-results a.allprojects {
        border: none; }
      .searchContainer .search-results a:hover, .searchContainer .search-results a:focus {
        background: #000;
        color: #fff;
        text-decoration: none; }
      .searchContainer .search-results a .projectname {
        font-weight: 600; }
      .searchContainer .search-results a .projectdesc {
        opacity: 0.8;
        padding-left: 10px; }

.searchHeaderContainer {
  position: absolute;
  top: 24%;
  left: 30%;
  display: none; }
  .searchHeaderContainer input {
    width: 40vw;
    height: 35px;
    padding: 10px;
    font-size: 1em; }

.contact-us-section {
  padding-top: 67px;
  padding-left: 45px;
  height: 800px;
  color: #fff; }
  .contact-us-section .contact-label {
    text-align: right; }
  .contact-us-section div[role="alert"] {
    margin-bottom: 20px; }
  .contact-us-section ng-form {
    background: #fff;
    height: 635px;
    display: block;
    width: auto;
    color: #333;
    padding: 40px 0;
    border-radius: 5px;
    margin: 0 40px 0 0; }
  .contact-us-section .contact-input input {
    width: 60%;
    height: 30px;
    padding: 5px;
    color: #333; }
  .contact-us-section .contact-input textarea {
    width: 60%;
    height: 100px;
    padding: 5px;
    color: #333;
    border-color: rgba(170, 170, 170, 0.6); }
  .contact-us-section .contact-input button.btn {
    width: 25%;
    padding: 8px;
    font-size: 1.2em; }
  .contact-us-section .contact-input button.btn-primary {
    background-color: rgba(179, 25, 71, 0.8) !important;
    border-color: #b31947 !important; }
  .contact-us-section .mbtm-20 {
    margin-bottom: 20px; }
  .contact-us-section .mbtm-40 {
    margin-bottom: 40px; }

div[role="alert"] {
  color: red;
  width: auto; }

.searchContainer {
  position: relative;
  top: 50%;
  left: 25%; }
  .searchContainer input.searchInput {
    width: 50%;
    height: 40px;
    padding: 10px; }
  .searchContainer .search-results {
    background: #fff;
    border: 2px solid #000;
    z-index: 9999;
    box-shadow: #0e0e0e;
    width: 50%;
    padding: 10px 0; }
    .searchContainer .search-results .no-results {
      padding: 10px;
      font-size: 1.1em; }
    .searchContainer .search-results .search-output {
      max-height: 300px;
      overflow-y: scroll; }
    .searchContainer .search-results a {
      color: #333;
      border-bottom: 1px dashed;
      font-size: 1.1em;
      display: block;
      padding: 10px; }
      .searchContainer .search-results a.allprojects {
        border: none; }
      .searchContainer .search-results a:hover, .searchContainer .search-results a:focus {
        background: #000;
        color: #fff;
        text-decoration: none; }
      .searchContainer .search-results a .projectname {
        font-weight: 600; }
      .searchContainer .search-results a .projectdesc {
        opacity: 0.8;
        padding-left: 10px; }

.searchHeaderContainer {
  position: absolute;
  top: 24%;
  left: 30%;
  display: none; }
  .searchHeaderContainer input {
    width: 40vw;
    height: 35px;
    padding: 10px;
    font-size: 1em; }

/*# sourceMappingURL=../maps/main.css.map */
