<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .mail-body{
            border: 1px solid rgba(0,0,0,0.8);
            border-radius: 5px;
            margin: 20px;
            min-height: 200px;
        }
        footer{
            text-align: center;
            margin-top: 15px;
        }
        footer .wrapper{
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <h2>Hello <%name%>,</h2>
    <div class="mail-body">
        <p>Thank you for subscribing!</p>
        <div>
            We will now send you notifications when a new DIY project has been added. Let's enjoy and have fun while we create our own master
            pieces of crafts.
        </div>
        <p>Happy Crafting!!!</p>
    </div>

<footer>
    <table role="module" data-type="social" border="0" align="center" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" class="wrapper" data-attributes='%7B%22backgroundcolor%22%3A%22%23FFFFFF%22%2C%22iconsize%22%3A30%2C%22iconcolor%22%3A%22AUTO%22%2C%22borderradius%22%3A2%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22alignment%22%3A%22center%22%2C%22option_facebook%22%3A%7B%22checked%22%3Atrue%2C%22text%22%3A%22https%3A//www.facebook.com/diyartsncraftz/%22%2C%22filename%22%3A%22facebook.png%22%2C%22title%22%3A%22Facebook%22%2C%22backgroundcolor%22%3A%22%233B579D%22%7D%2C%22option_twitter%22%3A%7B%22checked%22%3Atrue%2C%22text%22%3A%22https%3A//twitter.com/diycraftsnme%22%2C%22filename%22%3A%22twitter.png%22%2C%22title%22%3A%22Twitter%22%2C%22backgroundcolor%22%3A%22%237AC4F7%22%7D%2C%22option_instagram%22%3A%7B%22checked%22%3Atrue%2C%22text%22%3A%22https%3A//www.instagram.com/diycraftsnme/%22%2C%22filename%22%3A%22instagram.png%22%2C%22title%22%3A%22Instagram%22%2C%22backgroundcolor%22%3A%22%237F4B30%22%7D%2C%22option_googleplus%22%3A%7B%22checked%22%3Atrue%2C%22text%22%3A%22https%3A//plus.google.com/109051057642663923502%22%2C%22filename%22%3A%22google-plus.png%22%2C%22title%22%3A%22Google+%22%2C%22backgroundcolor%22%3A%22%23D44132%22%7D%2C%22option_pinterest%22%3A%7B%22checked%22%3Atrue%2C%22text%22%3A%22https%3A//www.pinterest.com/diycraftsnme/%22%2C%22filename%22%3A%22pinterest.png%22%2C%22title%22%3A%22Pinterest%22%2C%22backgroundcolor%22%3A%22%23CB2027%22%7D%2C%22option_linkedin%22%3A%7B%22checked%22%3Atrue%2C%22text%22%3A%22%22%2C%22filename%22%3A%22linkedin.png%22%2C%22backgroundcolor%22%3A%22%230077B5%22%7D%7D'>
        <tr>
            <td style="font-size:6px;line-height:10px;background-color:;padding: 0px 0px 0px 0px;" valign="top" align="center" role="module-content">
                <table cellpadding="0" cellspacing="0" border="0" style="" align="center">
                    <tr><td style="padding: 0px 5px;"><a
                            role="social-icon-link"
                            href="https://www.facebook.com/diyartsncraftz/"
                            target="_blank"
                            border="0"
                            alt="Facebook"
                            title="Facebook"
                            style="background-color: #3B579D; border-radius: 2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; color: white; display: inline-block; outline: none; text-decoration:none; border: none; font-family: Helvetica, arial, sans-serif;">
                        <img
                                role="social-icon"
                                alt="Facebook"
                                title="Facebook"
                                border="0"
                                height="30"
                                width="30"
                                style="height: 30px; width: 30px; border:none; color: white; font-family: Helvetica, arial, sans-serif;"
                                src="https://marketing-image-production.s3.amazonaws.com/social/white/facebook.png"
                        />
                    </a></td><td style="padding: 0px 5px;"><a
                            role="social-icon-link"
                            href="https://twitter.com/diycraftsnme"
                            target="_blank"
                            border="0"
                            alt="Twitter"
                            title="Twitter"
                            style="background-color: #7AC4F7; border-radius: 2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; color: white; display: inline-block; outline: none; text-decoration:none; border: none; font-family: Helvetica, arial, sans-serif;">
                        <img
                                role="social-icon"
                                alt="Twitter"
                                title="Twitter"
                                border="0"
                                height="30"
                                width="30"
                                style="height: 30px; width: 30px; border:none; color: white; font-family: Helvetica, arial, sans-serif;"
                                src="https://marketing-image-production.s3.amazonaws.com/social/white/twitter.png"
                        />
                    </a></td><td style="padding: 0px 5px;"><a
                            role="social-icon-link"
                            href="https://www.instagram.com/diycraftsnme/"
                            target="_blank"
                            border="0"
                            alt="Instagram"
                            title="Instagram"
                            style="background-color: #7F4B30; border-radius: 2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; color: white; display: inline-block; outline: none; text-decoration:none; border: none; font-family: Helvetica, arial, sans-serif;">
                        <img
                                role="social-icon"
                                alt="Instagram"
                                title="Instagram"
                                border="0"
                                height="30"
                                width="30"
                                style="height: 30px; width: 30px; border:none; color: white; font-family: Helvetica, arial, sans-serif;"
                                src="https://marketing-image-production.s3.amazonaws.com/social/white/instagram.png"
                        />
                    </a></td><td style="padding: 0px 5px;"><a
                            role="social-icon-link"
                            href="https://plus.google.com/109051057642663923502"
                            target="_blank"
                            border="0"
                            alt="Google+"
                            title="Google+"
                            style="background-color: #D44132; border-radius: 2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; color: white; display: inline-block; outline: none; text-decoration:none; border: none; font-family: Helvetica, arial, sans-serif;">
                        <img
                                role="social-icon"
                                alt="Google+"
                                title="Google+"
                                border="0"
                                height="30"
                                width="30"
                                style="height: 30px; width: 30px; border:none; color: white; font-family: Helvetica, arial, sans-serif;"
                                src="https://marketing-image-production.s3.amazonaws.com/social/white/google-plus.png"
                        />
                    </a></td><td style="padding: 0px 5px;"><a
                            role="social-icon-link"
                            href="https://www.pinterest.com/diycraftsnme/"
                            target="_blank"
                            border="0"
                            alt="Pinterest"
                            title="Pinterest"
                            style="background-color: #CB2027; border-radius: 2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; color: white; display: inline-block; outline: none; text-decoration:none; border: none; font-family: Helvetica, arial, sans-serif;">
                        <img
                                role="social-icon"
                                alt="Pinterest"
                                title="Pinterest"
                                border="0"
                                height="30"
                                width="30"
                                style="height: 30px; width: 30px; border:none; color: white; font-family: Helvetica, arial, sans-serif;"
                                src="https://marketing-image-production.s3.amazonaws.com/social/white/pinterest.png"
                        />
                    </a></td></tr>
                </table>
            </td>
        </tr>
    </table>
    <a target="_blank" href="www.diycraftsnme.com">www.diycraftsnme.com</a>
</footer>
</body>
</html>