<div class="contact-us-section row">
    <h2 class=" mbtm-20">Contact US</h2>
    <ng-form name="contactCtrl.contact" novalidate>
        <div class="col-md-12 col-xs-12 mbtm-20">
            <div role="alert" class="alert alert-danger" ng-show="contactCtrl.$serviceError">
                <i class="ionicons ion-social-freebsd-devil"></i>
                <span class="error">
                    We are unable to process your request at this time. Please try again later or email us at diycraftsnme@gmail.com.
                </span>
            </div>
            <div role="alert" class="alert alert-success" ng-show="contactCtrl.$contactSuccess">
                <i class="glyphicon glyphicon-thumbs-up"></i>
                <span class="success">
                    Thanks for contacting us. We will get back to you soon.
                </span>
            </div>
            <div class="col-md-4 col-xs-4 contact-label">
                <label for="txtName">Name:*</label>
            </div>
            <div class="col-md-8 col-xs-8 contact-input">
                <input type="text" name="txtName" id="txtName" ng-model="contactCtrl.contactData.name" maxlength="30" placeholder="Name (Max 30 characters)" required ng-pattern="string">
                <div role="alert" ng-if="contactCtrl.contact.$submitted && contactCtrl.contact.txtName.$invalid">
                      <span class="error" ng-show="contactCtrl.contact.txtName.$error.required">
                       Please enter a name.</span>
                        <span class="error" ng-show="contactCtrl.contact.txtName.$error.string">
                       Please enter a valid name.</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 mbtm-20">
            <div class="col-md-4 col-xs-4 contact-label">
                <label for="txtEmail">Email:*</label>
            </div>
            <div class="col-md-8 col-xs-8 contact-input">
                <input type="email" name="txtEmail" id="txtEmail" ng-model="contactCtrl.contactData.email" maxlength="256" required placeholder="Email (Max 256 characters)">
                <div role="alert" ng-if="contactCtrl.contact.$submitted && contactCtrl.contact.txtEmail.$invalid">
                      <span class="error" ng-show="contactCtrl.contact.txtEmail.$error.required">
                       Please enter an email address.</span>
                    <span class="error" ng-show="contactCtrl.contact.txtEmail.$error.email">
                       Please enter a valid email address.</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 mbtm-20">
            <div class="col-md-4 col-xs-4 contact-label">
                <label for="txtSubject">Subject:*</label>
            </div>
            <div class="col-md-8 col-xs-8 contact-input">
                <input type="text" name="txtSubject" id="txtSubject" ng-model="contactCtrl.contactData.subject" ng-minlength="10" required maxlength="100" placeholder="Subject (Max 100 characters)">
                <div role="alert" ng-if="contactCtrl.contact.$submitted && contactCtrl.contact.txtSubject.$invalid">
                      <span class="error" ng-show="contactCtrl.contact.txtSubject.$error.required">
                       Please enter a subject.</span>
                    <span class="error" ng-show="contactCtrl.contact.txtSubject.$error.minlength">
                       Subject is too short.</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 mbtm-20">
            <div class="col-md-4 col-xs-4 contact-label">
                <label for="txtComment">Comment:*</label>
            </div>
            <div class="col-md-8 col-xs-8 contact-input">
                <textarea name="txtComment" id="txtComment" maxlength="500" ng-model="contactCtrl.contactData.comment" required ng-minlength="10" placeholder="Comment (Max 500 characters)"></textarea>
                <div role="alert" ng-if="contactCtrl.contact.$submitted && contactCtrl.contact.txtComment.$invalid">
                      <span class="error" ng-show="contactCtrl.contact.txtComment.$error.required">
                       Please enter comments to continue.</span>
                    <span class="error" ng-show="contactCtrl.contact.txtComment.$error.minlength">
                       Comment is too short.</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="col-md-4 col-xs-4 contact-label">

            </div>
            <div class="col-md-8 col-xs-8 contact-input">
                <button type="submit" class="btn btn-primary" name="btnSubmit" id="btnSubmit" ng-click="contactCtrl.contactUs();">SUBMIT</button>
            </div>
        </div>
    </ng-form>
</div>