<div class="contact-us-section row">
    <h2 class=" mbtm-20">Suggest a project</h2>
    <ng-form name="contactCtrl.recomment" novalidate>
        <div class="col-md-12 col-xs-12 mbtm-20">
            <div role="alert" class="alert alert-danger" ng-show="contactCtrl.$serviceError">
                <i class="ionicons ion-social-freebsd-devil"></i>
                <span class="error">
                    We are unable to process your request at this time. Please try again later or email us at diycraftsnme@gmail.com.
                </span>
            </div>
            <div role="alert" class="alert alert-success" ng-show="contactCtrl.$contactSuccess">
                <i class="glyphicon glyphicon-thumbs-up"></i>
                <span class="success">
                    Thanks for recommending project. We will get back to you soon.
                </span>
            </div>
            <div class="col-md-4 col-xs-4 contact-label">
                <label for="txtName">Name:*</label>
            </div>
            <div class="col-md-8 col-xs-8 contact-input">
                <input type="text" name="txtName" id="txtName" ng-model="contactCtrl.recommentData.name" maxlength="30" placeholder="Name (Max 30 characters)" required ng-pattern="string">
                <div role="alert" ng-if="contactCtrl.recomment.$submitted && contactCtrl.recomment.txtName.$invalid">
                      <span class="error" ng-show="contactCtrl.recomment.txtName.$error.required">
                       Please enter a name.</span>
                        <span class="error" ng-show="contactCtrl.recomment.txtName.$error.string">
                       Please enter a valid name.</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 mbtm-20">
            <div class="col-md-4 col-xs-4 contact-label">
                <label for="txtEmail">Email:*</label>
            </div>
            <div class="col-md-8 col-xs-8 contact-input">
                <input type="email" name="txtEmail" id="txtEmail" ng-model="contactCtrl.recommentData.email" maxlength="256" required placeholder="Email (Max 256 characters)">
                <div role="alert" ng-if="contactCtrl.recomment.$submitted && contactCtrl.recomment.txtEmail.$invalid">
                      <span class="error" ng-show="contactCtrl.recomment.txtEmail.$error.required">
                       Please enter an email address.</span>
                    <span class="error" ng-show="contactCtrl.recomment.txtEmail.$error.email">
                       Please enter a valid email address.</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 mbtm-20">
            <div class="col-md-4 col-xs-4 contact-label">
                <label for="txtSubject">Title:*</label>
            </div>
            <div class="col-md-8 col-xs-8 contact-input">
                <input type="text" name="txtSubject" id="txtSubject" ng-model="contactCtrl.recommentData.subject" ng-minlength="10" required maxlength="100" placeholder="Title (Max 100 characters)">
                <div role="alert" ng-if="contactCtrl.recomment.$submitted && contactCtrl.recomment.txtSubject.$invalid">
                      <span class="error" ng-show="contactCtrl.recomment.txtSubject.$error.required">
                       Please enter a title.</span>
                    <span class="error" ng-show="contactCtrl.recomment.txtSubject.$error.minlength">
                       Title is too short.</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 mbtm-20">
            <div class="col-md-4 col-xs-4 contact-label">
                <label for="txtRecomment">Suggestion:*</label>
            </div>
            <div class="col-md-8 col-xs-8 contact-input">
                <textarea name="txtRecomment" id="txtRecomment" maxlength="500" ng-model="contactCtrl.recommentData.recomment" required ng-minlength="10" placeholder="Suggestion (Max 500 characters)"></textarea>
                <div role="alert" ng-if="contactCtrl.recomment.$submitted && contactCtrl.recomment.txtRecomment.$invalid">
                      <span class="error" ng-show="contactCtrl.recomment.txtRecomment.$error.required">
                       Please enter Suggestion to continue.</span>
                    <span class="error" ng-show="contactCtrl.recomment.txtRecomment.$error.minlength">
                       Suggestion is too short.</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="col-md-4 col-xs-4 contact-label">

            </div>
            <div class="col-md-8 col-xs-8 contact-input">
                <button type="submit" class="btn btn-primary" name="btnSubmit" id="btnSubmit" ng-click="contactCtrl.recommentUs();">SUBMIT</button>
            </div>
        </div>
    </ng-form>
</div>