<div class="row site-footer" id="socialize">
    <div class="socialize" id="divContactUs">
        <a href="#myFBModal" id="footerFacebookLink" data-toggle="modal"><span class="facebook"><i class="ionicons ion-social-facebook"></i></span></a>
        <a href="" class="hide"><span class="google-plus"><i class="ionicons ion-social-googleplus"></i></span></a>
        <a href="#myPinterestModal" data-toggle="modal"><span class="pinterest"><i class="ionicons ion-social-pinterest"></i></span></a>
        <a href="https://www.youtube.com/channel/UC-NAo0XjUOQ_fHVZc6jFHwg" target="_blank"><span class="youtube"><i class="ionicons ion-social-youtube"></i></span></a>
        <a target="_blank" href=" https://twitter.com/diycraftsnme"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://plus.google.com/u/0/109051057642663923502"><i class="fa fa-google-plus"></i></a>
        <a href="https://www.instagram.com/diycraftsnme/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="mailto:diycraftsnme@gmail.com"><span><i class="ionicons ion-at"></i></span></a>
        <a href="" class="hide"><span><i class="ionicons ion-iphone"></i></span></a>
    </div>
    <div class="footer-notes">
        <p><span>&copy;</span>2016 . All rights reserved | diycraftsnme@gmail.com | <a href="javascript:void(0)"  id="footerSubscribe" ng-click="DiyCtrl.showSubscribeModal();">Subscribe</a></p>
    </div>
</div>
