<header class="row diy-header">
    <div class="col-xs-12 col-md-6 pull-left home-icon">
        <div class="show-for-small-only hamburger-menu">
            <button type="button" class="btn btn-lg btn-primary" bs-aside="aside" data-template="src/app/layout/mobile-aside-nav.html" data-html="true" data-placement="left" data-animation="am-slide-left" data-container="body">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </button>
        </div>
        <a ui-sref="home">
            <span class="glyphicon glyphicon-scissors diy-icon"></span>
            <span class="icon-text">DIY Crafts</span>
        </a>
    </div>
    <div class="col-md-6 pull-right nav-links hide-for-small-only">
        <span><a ui-sref="projects" id="projectLink" class="mrt-10">PROJECTS</a> | </span>
        <span><a href="#" id="subscribeLink" ng-click="DiyCtrl.showSubscribeModal();">SUBSCRIBE</a>&nbsp;&nbsp;| </span>
        <span><a ui-sref="suggest" id="suggestLink" class="mrt-10">SUGGEST</a> | </span>
        <span><a ui-sref="contactus" id="contactLink">CONTACT US</a> | </span>
        <span><a ui-sref="dashboard" id="dashboardLink">DASHBOARD</a></span>
    </div>
    <div class="clearfix"></div>
</header>

<div ng-include="'src/app/search/search.html'" class="searchHeaderContainer"></div>
<div class="clearfix"></div>