<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title"><a ui-sref="home" ng-click="$hide()"><i class="glyphicon glyphicon-home"></i> Home</a></h4>
            </div>
            <div class="aside-body">
                <ul class="aside-nav-content">
                    <li><a ui-sref="projects" ng-click="$hide()"><i class="glyphicon glyphicon-facetime-video"></i> PROJECTS</a></li>
                    <li><a href="javascript:void(0);"  ng-click="$hide();DiyCtrl.showSubscribeModal();"><i class="glyphicon glyphicon-bell"></i> SUBSCRIBE</a></li>
                    <li><a ui-sref="suggest" ng-click="$hide()"><i class="glyphicon glyphicon-send"></i> SUGGEST</a></li>
                    <li><a ui-sref="contactus" ng-click="$hide()"><i class="glyphicon glyphicon-envelope"></i> CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>