<div class="modal" tabindex="-1" role="dialog" id="subscribeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:void(0);" close-modal="" class="close" ng-click="$hide()">&times;</a>
                <h4 class="modal-title"><span ng-show="!DiyCtrl.$subscribeSuccess">Get notified</span><span ng-show="DiyCtrl.$subscribeSuccess"><i class="glyphicon glyphicon-envelope"></i> Thanks for subscribing!</span></h4>
            </div>
            <div class="modal-body">
                <ng-form name="DiyCtrl.subscribe" novalidate>
                    <div class="modal-body">
                        <div id="subscribeMsgContent" ng-show="!DiyCtrl.$subscribeSuccess">
                            <div role="alert" class="alert alert-danger" ng-show="DiyCtrl.$serviceError">
                                <i class="ionicons ion-social-freebsd-devil"></i> <span class="error">Sorry, we are unable to process your request now. Please try again later.</span>
                            </div>
                            <p>Provide your email address and we'll notify you on new projects.</p>
                            <div class="form-content row">
                                <div class="col-md-4 col-xs-4 subscribeLabel">
                                    <label for="txtSubscribeName">Name:</label>
                                </div>
                                <div class="col-md-8 col-xs-8 subscribeInput">
                                    <input type="text" id="txtSubscribeName" ng-model="DiyCtrl.subscribeName" maxlength="30" placeholder="Name (Max 30 characters)" required ng-pattern="string" name="txtSubscribeName">
                                    <div role="alert" ng-if="DiyCtrl.subscribe.$submitted && DiyCtrl.subscribe.txtSubscribeName.$invalid">
                                    <span class="error" ng-show="DiyCtrl.subscribe.txtSubscribeName.$error.required">
                                   Please enter a name.</span>
                                    <span class="error" ng-show="DiyCtrl.subscribe.txtSubscribeName.$error.string">
                       Please enter a valid name.</span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4 subscribeLabel">
                                    <label for="txtSubscribeEmail">Email address:</label>
                                </div>
                                <div class="col-md-8 col-xs-8 subscribeInput">
                                    <input type="email" id="txtSubscribeEmail" ng-model="DiyCtrl.subscribeEmail" maxlength="256" required placeholder="Email (Max 256 characters)" name="txtSubscribeEmail">
                                    <div role="alert" ng-if="DiyCtrl.subscribe.$submitted && DiyCtrl.subscribe.txtSubscribeEmail.$invalid">
                                    <span class="error" ng-show="DiyCtrl.subscribe.txtSubscribeEmail.$error.required">
                                   Please enter an email address.</span>
                                    <span class="error" ng-show="DiyCtrl.subscribe.txtSubscribeEmail.$error.email">
                                   Please enter a valid email address.</span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12 aligncenter">
                                    <button type="submit" class="btn btn-primary" ng-click="DiyCtrl.subscribeuser();">Subscribe</button>
                                </div>
                            </div>
                        </div>
                        <div id="subscribeSuccessContent"  ng-show="DiyCtrl.$subscribeSuccess">
                            <p>We will now send you notifications when a new DIY project has been added.</p>
                            <p>Happy crafting!</p>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
</div>
