<div ng-controller="SearchController as SearchCtrl">
    <input class="searchInput" id="searchInput" name="searchTerms" ng-model="SearchCtrl.searchTerms" placeholder="SEARCH PROJECTS" ng-keyup="SearchCtrl.Search();"/>

    <div class="search-results" ng-show="SearchCtrl.showSearchResults">
        <div  class="search-output">
            <div ng-repeat="SearchResult in SearchCtrl.SearchResults">
                <a ui-sref="details({id:'{{SearchResult.id}}', name:'{{SearchResult.urlName}}'})">
                    <div class="projectname">{{SearchResult.name}}</div>
                    <div class="projectdesc">{{SearchResult.description}}</div>
                </a>
            </div>
        </div>
        <div class="no-results" ng-show="SearchCtrl.noresultsfound" tabindex="0">
            No Results found.
        </div>
        <div class="all-projects">
            <a ui-sref="projects" class="allprojects">View all projects</a>
        </div>
    </div>

</div>
