<div class="container-fluid diy-home">
    <div class="row home-banner"><div ng-include="'src/app/search/search.html'" class="searchContainer"></div></div>
    <div class="row site-description">
        <h3 class="site-desc-header">Let's Do It Ourselves!!</h3>
        <p>Crafting is fun! Crafting is happiness!! Let’s get together and enjoy the ecstasy of crafting. We all love and adore aesthetic arts and crafts. We’ve always loved to get those master pieces for their sheer work of art but somewhere deep down, within ourself, is a craftsmanship that is hidden . Why not we do them ourselves? Why not we adore our own craft? Why not we create our own master pieces?  If these questions are popping in your mind, then, yes you have come to the right place. We have a variety of craft’s projects listed with step by step procedures, photos and videos which guides you to DO IT YOURSELF. Let’s enjoy and have fun doing them!
            <span>Happy Crafting !!</span>
        </p>
    </div>
    <div class="row tiles-container" ng-if="homeCtrl.latestAdditions.length > 0 && homeCtrl.homeProjects.length > 20">
        <div class="col-xs-12 ml10">
            <h3>Latest Additions</h3>
            <div class="new-add-tile-container">
                <div class="col-md-3 col-xs-12 project-tile new-add-tile" ng-repeat="newDiy in homeCtrl.latestAdditions">
                    <div>
                        <a href="">
                            <h4>{{newDiy.name}}</h4>
                            <img ng-class="newDiy.className" ng-src="{{homeCtrl.thumbnailBasePath + newDiy.thumbnailName}}"/>
                            <div class="project-desc">{{newDiy.description}}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="projects-list tiles-container" ng-include="'src/app/home/home-projects.html'"></div>
</div>

<tour step="DiyCtrl.currentStep" post-tour="DiyCtrl.postTourCallback()" post-step="DiyCtrl.postStepCallback()" tour-complete="DiyCtrl.tourCompleteCallback()">
    <virtual-step
            tourtip="Our Tour Guide allows you to get an interactive tour to showcase the features of our website."
            tourtip-next-label="Learn more"
            tourtip-placement="center"
            tourtip-step="0"
            tourtip-element="body"></virtual-step>
    <virtual-step
            tourtip="Project link will take you to project page where you can view all our projects."
            tourtip-placement="bottom"
            tourtip-step="1"
            tourtip-element="#projectLink"></virtual-step>
    <virtual-step
            tourtip="Subscribe link will show you a popup where you can subscribe for our email notification. Upon subscription we will notify you through email our new projects."
            tourtip-placement="bottom"
            tourtip-step="2"
            tourtip-element="#subscribeLink"></virtual-step>
    <virtual-step
            tourtip="Suggest link will take you to a page where you can suggest new project idea to us."
            tourtip-placement="bottom"
            tourtip-step="3"
            tourtip-element="#suggestLink"></virtual-step>
    <virtual-step
            tourtip="Contact link will take you to a page where you can contact us with your queries."
            tourtip-placement="bottom"
            tourtip-step="4"
            tourtip-element="#contactLink"></virtual-step>
    <virtual-step
            tourtip="Search will allow you to look for projects with your search terms."
            tourtip-next-label="Continue"
            tourtip-placement="top"
            tourtip-step="5"
            tourtip-element=".searchContainer"></virtual-step>
    <virtual-step
            tourtip="You can find our latest project additions here."
            tourtip-next-label="Continue"
            tourtip-placement="top"
            tourtip-step="6"
            tourtip-element=".home-project-container"></virtual-step>
    <virtual-step
            tourtip="You can follow us over various social media from here. Please subscribe and follow us"
            tourtip-next-label="Done"
            tourtip-placement="left"
            tourtip-step="7"
            tourtip-element="#footerFacebookLink"></virtual-step>
</tour>