<h3 id="homeProjectSection">Projects</h3>
<div class="row home-project-container">
    <div class="ml25">
        <div class="col-md-3 col-xs-12 col-sm-12 home-projects project-tile" ng-repeat="homePrj in homeCtrl.homeProjects">
            <div>
                <a ui-sref="details({id:'{{homePrj.id}}', name:'{{homePrj.urlName}}'})">
                    <h4>{{homePrj.name}}</h4>
                    <img ng-class="homePrj.className" ng-src="{{homeCtrl.thumbnailBasePath + homePrj.thumbnailName}}"/>
                    <div class="project-desc">{{homePrj.description}}</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row explore-more" ng-if="homeCtrl.homeProjects.length > 20">
    <button type="button" class="btn btn-primary">Explore More</button>
</div>
<div id="footerGuide">
</div>
